<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto County - Miamiforever.eth</title>
    <base href="/" />
  </head>
  <body>
    <h1>Crypto County</h1>
    <div id="root"></div>
  </body>
</html>